<div *ngIf="timer" style="margin: 0px">
<ion-item no-lines style="padding: 0px;">
<button ion-button *ngIf="timeInSeconds && timeInSeconds > 0" large full clear class="timer-button timer-text" color="{{themeColor}}" style="margin: 0px">{{timer.displayTime}}</button>
</ion-item>
<ion-item no-lines *ngIf="timeInSeconds && timeInSeconds > 0" style="padding: 0px">
<ion-row>
<button ion-button icon-left clear small color="{{themeColor}}" (click)="pauseTimer()" item-right *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
<ion-icon name="pause"></ion-icon>
Pause
</button>
<button ion-button icon-left clear small color="{{themeColor}}" (click)="resumeTimer()" item-right *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
<ion-icon name="play"></ion-icon>
Resume
</button>
<button ion-button icon-left clear small color="{{themeColor}}" (click)="startTimer()" item-right *ngIf="!timer.hasStarted">
<ion-icon name="play"></ion-icon>
Start
</button>
</ion-row>
<ion-row  *ngIf="timeInSeconds && timeInSeconds > 0">
<button ion-button icon-left clear color="danger" small (click)="resetTimer()" item-left *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
<ion-icon name="refresh"></ion-icon>
Reset
</button>
</ion-row>
</ion-item>
</div>
 
<style>
.timer-button {
font-size: 5rem !important;
height: 1em !important;
}
.no-bottom-border.item .item-inner {
border-bottom: none !important;
}
</style>
