
<ion-header>

  <ion-navbar>
    <ion-title>Chat</ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)=close(); color="dark">
            <ion-icon name="ios-close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content>

  <div class="message-wrap">

    <div *ngFor="let msg of msgList"
         class="message"
         [class.left]="msg.From == 'therapist'"
         [class.right]="msg.From == 'patient'">
      <div class="msg-detail" text-wrap>
        <div class="msg-info">
            <p>
            {{msg.Timestamp}}
            </p>
        </div>
        <div class="msg-content" text-wrap>
          <span class="triangle"></span>
          <span text-wrap>
            <h6 style="margin: 5px" *ngIf="msg.Title != ''">{{msg.Title}}</h6>
            <p class="line-breaker" >{{msg.Message}}</p>
          </span>
        </div>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer no-border [style.height]="'55px'">
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-col width-80>
        <ion-textarea
                #chat_input
                placeholder="Text Input"
                autocorrect="on"
                autocomplete="on"
                [(ngModel)]="editorMsg"
                (keydown.enter)="sendMsg(); false"
                (focus)="_focus()"
        ></ion-textarea>
      </ion-col>
      <ion-col width-20>
        <button ion-button clear icon-only item-right
                (click)="sendMsg()" >
          <ion-icon  name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>