page-exercise {

    .exercise-img {
        padding: 8px;
    }
    .exercise-title {
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
    }
    .exercise-body {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        padding: 10px;
    }

    .exerciseInfo {
        text-align: center;
        font-size: 22px;
        font-weight: 300;
        margin: 0px;
    }

    .exerciseInfo-desc {
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        margin: 0px
    }
}
